# Build and temp files --------------------------
/build/
/temp/
temp
temp.*
*.csv
/target/
/project/

# Binaries --------------------------------------
/bin/
/dist/

# Editor files ----------------------------------
### VS Code ###
/.vscode/

### Jetbrains ###
.idea
*.iml

### Bitpocket ###
/.bitpocket/
.bitignore
